cdsapi==0.7.0
cfgrib==0.9.11.0
google-cloud-storage==2.16.0
langchain==0.1.19
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.1.7
langchain-text-splitters==0.0.1
langdetect==1.0.9
langsmith==0.1.51
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
PyYAML==6.0.1
python-dotenv==1.0.1
requests==2.31.0
streamlit==1.33.0
streamlit_folium==0.20.0
urllib3==2.2.1
xarray==2024.3.0
